:global {
    :root {
    margin: 0px;
    padding: 0px;
    background-color: papayawhip;
    box-shadow: border-box;
    height: 100%
    }

    :root *::before {
        content:'';
        display: table-cell;
    }

 body {
    min-width: 100%;
    min-height: 100%;
} 
.g-active {
&:hover {
    border:1px solid red;
}
}
.g-detach {
    position: fixed;
    width: 100vw;
    z-index: 1;
}
}   